HOST=127.0.0.1
PORT=8000

PLATFORM_URL=YOUR_PLATFORM_URL_HERE
PLATFORM_LISTENING_GAME_ID=1
PLATFORM_USERNAME=YOUR_USERNAME_HERE
PLATFORM_PASSWORD=YOUR_PASSWORD_HERE
PLATFORM_COOKIE=YOUR_COOKIE_HERE

TARGET_GROUPS=["114514"]